[Desktop Entry]
Version=1.1
Type=Application
Name=Backup Server Sync External Drive
Icon=backups-app-symbolic
Exec=gnome-terminal -- bash -c 'sudo kopia repository sync-to filesystem --path /mnt/backup-external/backup-server; echo "done"; read'
