[Desktop Entry]
Version=1.1
Type=Application
Name=Mail Tray
Comment=Starts mail and sends it to tray.
Icon=evolution-symbolic
Exec=bash -c "if [ $( pgrep kdocker ) ] ; then evolution; else kdocker -q -- evolution -c mail; fi"
Actions=
Categories=Email;Utility;
