[Desktop Entry]
Version=1.0
Name=Languagetool
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON=/home/frederik/.local/share/ice/icons/Languagetool.png firefox-esr --class WebApp-Languagetool7311 --profile /home/frederik/.local/share/ice/firefox/Languagetool7311 --no-remote https://languagetool.org/editor'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/frederik/.local/share/ice/icons/Languagetool.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Languagetool7311
StartupNotify=true
X-WebApp-Browser=Firefox Extended Support Release
X-WebApp-URL=https://languagetool.org/editor
X-WebApp-CustomParameters=
X-WebApp-Isolated=true

