[Desktop Entry]
Version=1.0
Name=Deepl
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON=/home/frederik/.local/share/ice/icons/Deepl.png firefox-esr --class WebApp-Deepl3854 --profile /home/frederik/.local/share/ice/firefox/Deepl3854 --no-remote https://deepl.com'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/frederik/.local/share/ice/icons/Deepl.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Deepl3854
StartupNotify=true
X-WebApp-Browser=Firefox Extended Support Release
X-WebApp-URL=https://deepl.com
X-WebApp-CustomParameters=
X-WebApp-Isolated=true
