[Desktop Entry]
Version=1.1
Type=Application
Name=Tailscale vpn
Icon=nm-vpn-standalone-lock-symbolic
Exec=pkexec tailscale up --reset --accept-routes --exit-node-allow-lan-access=false --exit-node=100.73.113.18
Actions=
Categories=Network;
