[Desktop Entry]
Version=1.1
Type=Application
Name=Update Pi
Icon=
Exec=gnome-terminal -- bash -c 'ssh root@pi "cd /root/scripts && ./my-update.sh"; echo "done"; ssh root@pi'
