[Desktop Entry]
Version=1.1
Type=Application
Name=Update Server
Icon=server
Exec=gnome-terminal -- bash -c 'ssh root@ubuntu-server "cd /root/scripts && ./my-update.sh"; echo "done"; ssh root@ubuntu-server'
